{% extends "base.html" %}


{% block content %}
        <select id="data_type">
            <option value="1">Continent</option>
            <option value="2">Country</option>
        </select>

        <select id="data_v1">
          <option value="1">Population</option>
          <option value="2">Life Expectancy</option>
          <option value="3">Surface Area</option>
          <option value="4">Elevation</option>
          <option value="5">Density</option>
        </select>

        <select id="data_v2">
          <option value="1">Population</option>
          <option value="2">Life Expectancy</option>
          <option value="3">Surface Area</option>
          <option value="4">Elevation</option>
          <option value="5">Density</option>
        </select>

        <select id="graphtype">
          <option value="1">Bar</option>
          <option value="2">Scatter</option>
          <!--<option value="3">Pie</option>-->
        </select>

        <span data-toggle="popover" data-content="The second and third columns represent the x-axis
        and y-axis of the graph respectively. Click on the button to view it!"
          data-placement="left" data-trigger="hover" class="navbar-right glyphicon glyphicon-info-sign"
          style="font-size:30px"> </span>
        <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
        </script>

{% endblock %}

{% block buttoncontent %}
    <div>
      <button class="btn btn-success btn-lg" type="button" id="detailbutton">Display</button>
    </div>
{% endblock %}