{% extends "base.html" %}


{% block content %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Data Type</th>
                        <th>Parameters</th>
                        <th>Visualization</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        <select id="data_type">
                            <option value="1">Continent</option>
                            <option value="2">Country</option>
                        </select>
                        </td>
                        <td>
                        <select id="data">
                          <option value="1">Population</option>
                          <option value="2">Life Expectancy</option>
                          <option value="3">Surface Area</option>
                          <option value="4">Elevation</option>
                          <option value="5">Density</option>
                        </select>
                        </td>
                        <td>
                        <select id="graphtype">
                          <option value="1">Bar</option>
                          <option value="2">Scatter</option>
                          <option value="3">Pie</option>
                        </select>
                        </td>
                        <!--<td>-->
                        <!--<span data-toggle="popover" data-content="Select any of the given representation types and click to view it!"-->
                              <!--data-placement="left" data-trigger="hover" class="navbar-right glyphicon glyphicon-info-sign"-->
                              <!--style="font-size:30px"></span>-->
                        <!--</td>-->
                    </tr>
                </tbody>
            </table>
            <!--<script>-->
                <!--$(document).ready(function(){-->
                    <!--$('[data-toggle="popover"]').popover();-->
                <!--});-->
            <!--</script>-->
        </div>

{% endblock %}

{% block buttoncontent %}
    <div>
      <button class="btn btn-success btn-lg" type="button" id="showbutton">Display</button>
    </div>
{% endblock %}