
<html lang="en">
<head>
  <title>Dynamic User Graphs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="/static/js/jquery.blockUI.js"></script>
  <script src="/static/js/graph.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">User Graphs</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
  </div>
</nav>

  <!--<div class="btn-group">-->
    <!--<div class="dropdown">-->
      <!--<button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Data-->
      <!--<span class="caret"></span></button>-->
      <!--<ul class="dropdown-menu">-->
        <!--<li>population</li>-->
        <!--<li>life_expectancy</li>-->
        <!--<li>area</li>-->
        <!--<li>elevation</li>-->
        <!--<li>density</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<div class="dropdown">-->
      <!--<button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown" >Type-->
      <!--<span class="caret"></span></button>-->
      <!--<ul class="dropdown-menu">-->
        <!--<li>bar</li>-->
        <!--<li>scatter</li>-->
        <!--<li>pie</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->

  <div class="container">
    <div class="row">
      <div class="panel panel-default">
      <div class="panel-body">
        <select id="data">
        <option value="1">Population</option>
        <option value="2">Life Expectancy</option>
        <option value="3">Surface Area</option>
        <option value="4">Elevation</option>
        <option value="5">Density</option>
      </select>

        <select id="graphtype">
        <option value="1">Bar</option>
        <option value="2">Scatter</option>
        <option value="3">Pie</option>
      </select>

      </div>
    </div>
      <button class="btn btn-success btn-lg" type="button" id="showbutton">Display</button>
   </div>
    <div class="row">
      <div id="myDiv"></div>
    </div>
  </div>

</body>

</html>

