<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">User Graphs</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
  </div>
</nav>

<div class="btn-group">
  <!--<div class="dropdown">-->
    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Country
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
    {% for item in data %}
      <li>{{item.country}}</li>
    {% endfor %}
    </ul>
  <!--</div>-->
  <!--<div class="dropdown">-->
    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Data
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
    {% for item in data %}
      <li>{{item.country}}</li>
    {% endfor %}
    </ul>
  <!--</div>-->
  <!--<div class="dropdown">-->
    <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Type
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
    {% for item in data %}
      <li>{{item.country}}</li>
    {% endfor %}
    </ul>
  <!--</div>-->
</div>


  <div id="myDiv"></div>
  <script>
  var country = [];
  var population = [];
  var density = []
  {% for item in data %}
    country.push("{{ item.country }}");
    population.push("{{item.population }}");

  {% endfor %}
      var trace1 = {
      x: country,
      y: population,
      name: "Countries population in millions",
      type: 'scatter'
    };

    var layout = {
      xaxis: {title: 'Countries'},
      yaxis: {title: 'Population in Millions', type: 'log'},
      margin: {t: 20},
    };

    var data = [trace1];
    Plotly.newPlot('myDiv', data, layout);
  </script>
</body>

</html>

